/* si es clase [.] si es una etiqueta de html & */
.main_portafolio {
    width: 100%;
    padding: 85px 35px 17px;
    margin: 80px auto 0;
    .fecha_actualizacion {
        color: var(--oscuro2);
        font-family: var(--font-kevin-mono);
        font-size: 12px;
        position: absolute;
        padding: 0.16rem;
    }
    .linea {
        width: 50px;
        height: 1px;
        margin-right: 17px;
        border-bottom: solid 1px var(--text-opaco);
    }
}

.superior_nombre_mensaje {
    .saludo {
        .saludo_inicial {
            color: var(--verde);
            word-spacing: 1px;
            letter-spacing: 1px;
            font-weight: 500;
        }
        .nombre {
            font-size: clamp(2.5rem, 3vw, 4rem);
            font-weight: 600;
        }
    }
    .descripcion {
        & span {
            color: var(--verde);
        }
    }
}

.skill_borde_main {
    border: solid 1px rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}
.borde_kevin {
    border: solid 1px rgba(255, 255, 255, 0.1);
    border-radius: 999em 999em 999em 999em;
    padding: 2px 10px;
    margin: 0px 10px 8px 0px;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--verde);
}

.icon_certificado {
    width: 30px;
    fill: var(--blanco);
}
.icon_rocket {
    width: 30px;
    fill: var(--blanco);
}
.icon_book {
    width: 30px;
    fill: var(--blanco);
}

.certificado {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.7rem;
    border: solid 1px rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    width: fit-content;
    .certificacion_description {
        margin-left: 1rem;
        .titulo {
            font-weight: 600;
        }
        .emisor {
            color: var(--text-opaco);
        }
        .emitido {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            color: var(--text-opaco);
        }
    }
    .icon_ojo {
        fill: var(--verde);
        cursor: pointer;
        transition: 0.23s;
    }
    .icon_ojo:hover {
        fill: var(--blanco);
        transform: scale(1.12);
    }
}

.cajita {
    position: relative;
}
.aligh_center {
    position: relative;
    top: 2px;
}

/* correo y github */
.superior_contacto {
    font-family: var(--font-kevin-mono);
    letter-spacing: 0.5px;
    position: absolute;
    transition: 0.5s;
    top: 37px;
    right: 30px;

    .icon_email {
        width: 28px;
        fill: var(--text-opaco);
    }
    .icon_linkedin_mini {
        width: 28px;
        fill: var(--text-opaco);
        transition: 0.3s;
    }
    .icon_linkedin_mini:hover {
        fill: var(--blanco);
    }
    .icon_git_mini {
        width: 28px;
        fill: var(--text-opaco);
        transition: 0.3s;
    }
    .txt_git_mini {
        text-decoration: none;
        color: var(--text-opaco);
        transition: 0.3s;
    }
    .txt_icon_email {
        color: var(--text-opaco);
    }
    .icon_git_mini:hover {
        fill: var(--blanco);
    }
    .txt_git_mini:hover {
        color: var(--blanco);
    }
}

.git {
    width: 35px;
    fill: var(--text-opaco);
    animation: meneo 1s 0.5s linear infinite;
    transition: 0.5s;
    position: relative;
}
.git:hover {
    fill: var(--verde);
    top: -3px;
}
.git_mensaje {
    color: var(--verde);
    font-family: var(--font-kevin-mono);
    font-size: 12px;
}

.modal {
    .modal-content {
        background-color: var(--oscuro) !important;
        border: solid 1px var(--oscuro2);
        .modal-header {
            border-bottom: solid 1px var(--oscuro2);
            color: var(--verde);
        }
    }
    .modal-body {
        align-items: center;
    }
    .img_modal {
        /* si pongo width: 100% le estaria obligando a que llegue al 100% */
        max-width: 100%;
        max-height: 750px;
    }
    .caja_bolas {
        border: solid 1px var(--oscuro2);
        margin-left: 30px;
        border-radius: 999em 999em 999em 999em;
        display: flex;
        justify-content: flex-start;
        padding: 6px;
        width: 200px;
        .bola {
            width: 17px;
            height: 17px;
            border: solid 2px var(--verde_original);
            border-radius: 50%;
            margin-right: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            .bolita {
                width: 7px;
                height: 7px;
                background-color: var(--verde);
                border-radius: 50%;
            }
        }
    }
    .caja_flecha_derecha {
        height: 100%;
        position: absolute;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 0px;
        cursor: pointer;
    }
    .caja_flecha_derecha:hover {
        .flecha {
            background-color: var(--verde);
        }
    }
    .caja_flecha_izquierda:hover {
        .flecha {
            background-color: var(--verde);
        }
    }
    .caja_flecha_izquierda {
        height: 100%;
        position: absolute;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0px;
        cursor: pointer;
    }
    .flecha {
        font-family: monospace;
        background: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(4px);
        color: var(--oscuro2);
        border-radius: 50%;
        width: 50px;
        height: 50px;
        font-size: 45px;
        font-weight: bold;
    }
    .flechaDerecha {
        position: absolute;
        top: -11px;
        right: 12px;
    }
    .flechaIzquierda {
        position: absolute;
        top: -11px;
        left: 12px;
    }
}

@keyframes meneo {
    0%,
    7% {
        transform: rotateZ(0);
    }
    15% {
        transform: rotateZ(-15deg);
    }
    20% {
        transform: rotateZ(10deg);
    }
    25% {
        transform: rotateZ(-10deg);
    }
    30% {
        transform: rotateZ(6deg);
    }
    35% {
        transform: rotateZ(-4deg);
    }
    40%,
    100% {
        transform: rotateZ(0);
    }
}
/* --------- SCROLL UP / FLECHA --------- */
#scrollBtn {
    display: none;
    position: fixed;
    bottom: 35px;
    right: 35px;
    background-color: rgba(210, 210, 210, 0.7);
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
    padding: 10px 10px;
    cursor: pointer;
    transition: 0.3s;
    .arrow {
        width: 1.2em;
        fill: var(--oscuro2);
        transition: 0.3s;
    }
}
#scrollBtn:hover {
    background-color: rgb(220, 220, 220);
    .arrow {
        fill: var(--oscuro);
    }
}

@media (min-width: 650px) {
    .main_portafolio {
        width: 600px;
    }
}

@media (min-width: 950px) {
    .main_portafolio {
        width: 900px;
    }
    .contacto {
        right: 70px;
    }
}
