<div class="main_portafolio border">
  <div class="superior">
    <div class="saludo">
      <p class="saludo_inicial">Hola, me llamo</p>
      <p class="nombre">Kevin Basilio</p>
      <p class="titulo"> Desarrollador Java</p>
    </div>
    <div class="descripcion">
      <p>Soy <span></span> recién egresado. La idea de poder desarrollar cualquier software que cumpla una necesidad y tener la libertad de construirlo  me llama profundamente la atención . creo que me faltaria la vida para poder desarrollar todo lo que quiera. teniendo el control de como hacerlo, es como tener un pequeño superpoder, sobre todo porque este tiene el fin de suplir la necesidad de otras personas.
      La idea de poder desarrollar algo tan potente como un software teniendo el control de como este será contruido, es algo que me llama profundamente la atención.  equivalente a obtener un pequeño superpoder, sobre todo porque este suplira la necesidad de otras personas.</p>
    </div>
  </div>
  <div class="proyectos mt-5">
      <p class="fs-3">Proyectos</p>
      
      <div class="cajon">
        <div class="p_pantallasos p-2 m-2">
          <img src="assets/proyectos/proy_01/img_01.png" alt="proy_01_img_01">
        </div>
        <div class="p_descripcion p-2 m-2">
          <p class="fw-bold">Portafolio  [05/2023]</p>
          <p>Pagina web para mostrar mis proyectos.</p>
          <p class="fw-bold">Principales tareas:</p>
          <ul>
            <li>Diseño y estructura de la página.</li>
            <li>Despliegue simple con dominio propio.</li>
          </ul>
          <p class="fw-bold">Tecnologias:</p>
          <p class="tecnologias fw-medium">
            Angular, Bootstrap, HTML, CSS, JS, TS.
          </p>
        </div>
      </div>
    
    
  </div>
  <div class="pie border mt-5">
    <p>pie</p>
  </div>
</div>