/* si es clase [.] si es una etiqueta de html & */
.main_portafolio{
    width: 100%;
    padding: 35px 35px 17px;
    margin: 80px auto 0;
}

.superior{
    max-width: 500px;
    .saludo{
        .saludo_inicial{
            color: var(--verde) ;
            word-spacing: 1px;
            letter-spacing: 1px;
            font-weight: 500;
        }
        .nombre{
            font-size: clamp(2.5rem, 3vw, 4rem);
            font-weight: 600;
        }
    }
    .descripcion{
        & span{
            color: var(--verde);
        }
    }
}

.skill_borde_main{
    border: solid 1px rgba(255,255,255,0.1);
}
.borde_kevin{
    border: solid 1px rgba(255,255,255,0.1);
    border-radius: 999em 999em 999em 999em;
    padding: 2px 10px;
    margin: 0px 10px 8px 0px;
    background-color: rgba(255,255,255,0.1);
    color: var(--verde);
}

.proyectos{
    .linea{
        width: 40px;
        height: 1px;
        margin-right: 17px;
        border-bottom: solid 1px var(--text-opaco);
    }

    
}

.cajita{
    position: relative;
}
.aligh_center{
    position: relative;
    top: 2px;
}

.git{
    width: 35px;
    fill: var(--text-opaco);
    animation: meneo 1s 0.5s linear infinite;
    transition: 0.5s;
    position: relative;
}
.git:hover{
    fill: var(--verde);
    
    top: -3px;
}
.git_mensaje{
    color: var(--verde);
    font-family: var(--font-kevin-mono);
    font-size: 12px;
}

.modal{
    .modal-content {
        background-color: var(--oscuro) !important;
        border: solid 1px var(--oscuro2);
        .modal-header{
            border-bottom: solid 1px var(--oscuro2);
            color: var(--verde);
        }
    }
    .modal-body{
        align-items: center;
    }
    .img_modal{
        max-width: 100%; /* si pongo width: 100% le estaria obligando a que llegue al 100% */
        max-height: 750px;
    }
    .caja_bolas{
        border: solid 1px var(--oscuro2);
        margin-left: 30px;
        border-radius: 999em 999em 999em 999em;
        display: flex;
        justify-content: flex-start;
        padding: 6px;
        width: 200px;
        /*transform: translateY(-50%);*/
        .bola{
            width: 17px;
            height: 17px;
            border: solid 2px var(--verde_original);
            border-radius: 50%;
            margin-right: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            .bolita{
                width: 7px;
                height: 7px;
                background-color: var(--verde);
                border-radius: 50%;
            }
        }
    }
    .caja_flecha_derecha{
        height: 100%;
        /*border: solid 1px green;*/
        position: absolute;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 0px;
        cursor: pointer;
    }
    .caja_flecha_derecha:hover{
        .flecha{
            background-color: var(--verde);
        }
    }
    .caja_flecha_izquierda:hover{
        .flecha{
            background-color: var(--verde);
        }
    }
    .caja_flecha_izquierda{
        height: 100%;
        /*border: solid 1px green;*/
        position: absolute;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0px;
        cursor: pointer;
    }
    .flecha{
        font-family: monospace;
        /*border: solid 1px red;*/
        background: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(4px);
        color: var(--oscuro2);
        border-radius: 50%;
        width: 50px;
        height: 50px;
        font-size: 45px;
        font-weight: bold;
    }
    .flechaDerecha{
        position: absolute;
        top: -11px;
        right: 12px;
    }
    .flechaIzquierda{
        position: absolute;
        top: -11px;
        left: 12px;
    }
    
}

@keyframes meneo {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}


@media (min-width: 650px){
    .main_portafolio{
        width: 600px;
    }
}

@media (min-width: 850px){
    .main_portafolio{
        width: 800px;
    }
}