#logo_principal{
    height: 60px;/*
    position: fixed;*/
    position: absolute;
    transition: 0.5s;
    top: 30px;
    left: 30px;
}
#logo_kb {
    fill: var(--verde);
    stroke: none;/* sin borde */
    animation: changeColor 3.2s forwards;
}
@keyframes changeColor {
    0%{ fill:var(--verde);}
    65%{ fill:var(--verde);}
    100%{ fill: var(--text-opaco);}
}

.m_vector { /* afecta a los tres vectores del logo que se usan como mascara */
    stroke: white;
    stroke-width: 4.1;
}

#m_vector1 { /* B */
    height: 60px;
    stroke-dasharray: 70 70;
    stroke-dashoffset: 70;
    animation: trazo 1.2s .7s ease forwards;/*forwards*/
}
#m_vector2 { /* K */
    stroke-dasharray: 55;
    stroke-dashoffset: 55;
    animation: trazo2 .7s .7s ease forwards;/*forwards*/
}
#m_vector3 { /* Contorno */
    stroke-dasharray: 190;
    stroke-dashoffset: 190;
    animation: trazo3 2.5s ease forwards;/*forwards*/
}
@keyframes trazo {
    0%{ stroke-dashoffset: 70;}
    100%{ stroke-dashoffset: 0;}
}
@keyframes trazo2 {
    0%{ stroke-dashoffset: 55;}
    100%{ stroke-dashoffset: 0;}
}
@keyframes trazo3 {
    0%{ stroke-dashoffset: 190;}
    45%{ stroke-dashoffset: 190;}
    100%{ stroke-dashoffset: 0;}
}

@media (min-width: 850px){
    #logo_principal{
        left: 70px;
    }
}